atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink

leiningen/lein.symlink/indices/
leiningen/lein.symlink/repl-history
leiningen/lein.symlink/repl-port
leiningen/lein.symlink/self-installs/
.DS_Store
